# uni-app 上传忽略规则

# ============================
# 开发构建产物
# ============================
unpackage/
dist/
nul

# ============================
# IDE
# ============================
.hbuilderx/
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# ============================
# 系统文件
# ============================
.DS_Store
Thumbs.db
*.log

# ============================
# node_modules（可选）
# ============================
# node_modules/
# package-lock.json
